* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  background-color: rgb(37, 35, 35);
  color: #fff;
  justify-content: center;
  align-items: center;
}

.social-links {
  text-decoration: none;
  color: #fff;
}

.faicon {
  margin: 0 15px;
  height: 25px;
  transition: transform 0.2 ease;
}

.faicon:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.youtube:hover {
  color: red;
}

.twitter:hover {
  color: rgb(54, 54, 209);
}
.facebook:hover {
  color: rgb(10, 10, 241);
}
.github:hover {
  color: grey;
}
